.bigchungus {
    font-size: 30pt;
    color: #ff4081;
    text-align: center;
}

#chatbot, #chatwmelol {
    display: flex;
    justify-content: center;
   
}

#eskedit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
